version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "@types/node"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "@types/node"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"